<h2 class="row justify-content-center category-header">
    Your Recipes
</h2>

<div class="row justify-content-center mx-2">
    {{#if recipes.length}}
        {{#each recipes as |recipe|}}
        <div class="card col-4 my-3 p-0 bites-card-gap">
            {{> recipe-info recipe}}
        </div>
        {{/each}}
    {{else}}
    <h3>You haven't created any recipes yet! You can <b><a href="/new-recipe">add one</a></b> if you'd like!</h3>
    {{/if}}
</div>