<section>
    <form class="form-heading">
        <div class="right"><label for="Title">Title</label>
            <input type="text" placeholder="Your Title" id="titleRecipe" name="title" class="form-input" />
        </div>

        <div class="right">
            <label for="pictureLink">Recipe Picture URL</label>
            <input type="url" placeholder="URL" id="pictureLink" name="pictureLink" class="form-input" />
        </div>

        <div class="right">
            <label class="form-heading" id="mealType" for="meal-type">Choose a meal type</label>
            <!-- Selection of what type of meal the user wants to categorize their recipe -->
            <select class="button form-input" name="categorize" id="categorize">
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="dessert">Dessert</option>
            </select>
        </div>


        <div class="split">
            <div class="prep">
                <label class="info-prep" for="prepTime">Prep (min):</label>
                <input type="number" placeholder="10 min" id="prepTime" name="prepTime" class="form-input" />


                <label class="info-prep" for="cookTime">Cook (min):</label>
                <input type="number" placeholder="15 min" id="cookTime" name="cookTime" class="form-input" />


                <label class="info-prep" for="yieldAmt">Yield (servings):</label>
                <input type="number" placeholder="25 min" id="yieldAmt" name="yieldAmt" class="form-input" />
            </div>

            <div class="ingredients-form">
                <label for="ingredients">Ingredients</label>
                <input type="text" placeholder="Ingredients" id="ingredients" name="ingredients" class="form-input" />
            </div>
        </div>
    </form>

    <div class="right">
        <h2 class="form-heading">Directions</h2>
        <input type="text" placeholder="Directions" id="directions" name="directions" class="form-input" />
    </div>


</section>
<!-- Save and Delete -->
<section class="space-between">
    <button class=".new-recipe-form edit-recipe-form'" id="savePost" type="button">Save</button>
    <button class="delete-recipe-form" id="deletePost" type="button">Delete</button>
</section>

{{#if loggedIn}}
<script src="/javascript/edit-recipe.js"></script>
<script src="/javascript/delete-recipe.js"></script>
{{/if}}