<section class="hero img-fluid row">
    <img class="hero-img" id="pizzaHero" src="/stylesheets/css/images/pizza.jpg" alt="Pizza">
</section>
<div class="body">
    <p>Explore hand selected recipes provided 
    by our robust Butler community. 
    Whether you’re a beginner or a five-star chef, 
    there will always be great recipes available 
    to try out! There might even be something 
    you want to share with the community!</p>
    <br/>
    <p>Choose a category above to get started.</p>
    <br/>
    <p>Be sure to <a href="/login">login</a> or <a href="/signup">register</a> to share your own recipes!</p>   
</div>


{{!-- <div class="row justify-content-center mx-2">
    {{#each recipes as |recipe|}}
    {{#if @first }}
    <div class="card col-4 my-3 p-0 bites-card-gap">
        {{> recipe-info recipe}}
    </div>
    {{else}}
    <div class="card col-4 my-3 p-0 bites-card-gap">
        {{> recipe-info recipe}}
    </div>
    {{/if}}
    {{/each}}
</div> --}}