<form class="login-form">
    <div>
        <label>email:</label>
        <input type="text" id="email-login" placeholder="User-email" />
    </div>
    <div>
        <label>password</label>
        <input type="password" id="password-login" placeholder="User-password" />
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>

<div>
    <span>If you are not a member already, please join us today!</span>
    <a href="/signup">Join Now</a>
</div>