<section>
    <form class="form-heading new-recipe-form">
        <div class="right"><label for="Title">Title</label>
            <input type="text" placeholder="Your Title" id="titleRecipe" name="title" class="form-input" />
        </div>

        {{!-- <div class="right">
            <label for="pictureLink">Recipe Picture URL</label>
            <input type="url" placeholder="URL" id="pictureLink" name="pictureLink" class="form-input" />
        </div> --}}

        <form action="/profile" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" />
        </form>

        <div class="right">
            <label class="form-heading" id="mealType" for="meal-type">Choose a meal type</label>
            <!-- Selection of what type of meal the user wants to categorize their recipe -->
            <select class="button form-input" name="categorize" id="categorize">
                <option value="1">Breakfast</option>
                <option value="2">Lunch</option>
                <option value="3">Dinner</option>
                <option value="4">Dessert</option>
            </select>
        </div>


        <div class="split">
            <div class="prep">
                <label class="info-prep" for="prepTime">Prep (min):</label>
                <input type="number" placeholder="10 min" id="prepTime" name="prepTime" class="form-input" />


                <label class="info-prep" for="cookTime">Cook (min):</label>
                <input type="number" placeholder="15 min" id="cookTime" name="cookTime" class="form-input" />


                <label class="info-prep" for="yieldAmt">Yield (servings):</label>
                <input type="number" placeholder="25 min" id="yieldAmt" name="yieldAmt" class="form-input" />
            </div>

            <div class="ingredients-form">
                <label for="ingredients">Ingredients</label>
                <input type="text" placeholder="Ingredients" id="ingredients" name="ingredients" class="form-input" />
            </div>
        </div>
    </form>

    <div class="right">
        <h2 class="form-heading">Directions</h2>
        <input type="text" placeholder="Directions" id="directions" name="directions" class="form-input" />
    </div>


</section>
<!-- Save and Delete -->
<section class="space-between">
    <button class="new-recipe-button new-recipe" id="savePost" type="button">Save</button>
    <button class="new-recipe-button" id="deletePost" type="button">Delete</button>
</section>

<script src="/javascript/create-recipe.js"