<section>
        <form class="newRecipeForm">
            <label for="Title">Your Title</label>
            <input type="text" placeholder="Your Name" id="titleRecipe" name="title" class="form-input" />

            <label for="pictureLink">Your Recipe Picture URL</label>
            <input type="url" placeholder="Your Recipe Picture URL" id="pictureLink" name="pictureLink" class="form-input" />
            
            <label class="label" for="meal-type">Choose a meal type:</label>
            <!-- Selection of what type of meal the user wants to categorize their recipe -->
                <select class="button" name="categorize" id="categorize">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="dessert">Dessert</option>
                </select>

            <label for="prepTime">Prep (min):</label>
            <input type="number" placeholder="Prep (min):" id="prepTime" name="prepTime" class="form-input" />
            

            <label for="cookTime">Cook (min):</label>
            <input type="number" placeholder="Cook (min):" id="cookTime" name="cookTime" class="form-input" />
            

            <label for="yieldAmt">Yield (servings):</label>
            <input type="number" placeholder="Prep (min):" id="yieldAmt" name="servingSize" class="form-input" />
            

            <label for="ingredients">Ingredients</label>
            <input type="text" placeholder="ingredients" id="ingredients" name="ingredients" class="form-input" />

            <label for="directions">Directions</label>
            <input type="text" placeholder="=directions" id="directions" name="directions" class="form-input" />
            <!-- <button type="submit">
              Save
            </button> -->
            <button id="savePost" type="submit">Save</button>
          </form>

          {{!-- <h2>Directions</h2>
          <textarea name="directions" id="directions" cols="30" rows="10"></textarea> --}}
       
    </section>
    <!-- Save and Delete -->
    <section>
        
        <button id="deletePost" type="button">Delete</button>
    </section>

    <script src="/javascript/create-recipe"