<div class="row justify-content-center">
    <form class="col-6" id="signup-form">
        <div class="mb-2 login-helper">
            <span>Ready to start swapping recipes? Fill out the form below!</span>
        </div>
        <div class="form-group">
            <label for="username-register" class="email-helper">Username</label>
            <input type="text" class="form-control login-helper" id="username-register" aria-describedby="usernameHelp"
                placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email-register" class="email-helper">Email address</label>
            <input type="email" class="form-control login-helper" id="email-register" aria-describedby="emailHelp"
                placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password-register" class="password-helper">Password</label>
            <input type="password" class="form-control login-helper" id="password-register" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-dark">Create Account</button>
        <div class="mt-2 login-helper">
            <span>Already have an account? <a href="/login">Login instead</a></span>
        </div>
    </form>
</div>




<script src="/javascript/register.js"></script>