{{> single-recipe-info recipe}}

{{> comments recipe.comments}}

{{#if loggedIn}}
<div class="add-comment">
    <h2>Add a Comment:</h2>
    <textarea name="new-comment" id="newComment" cols="30" row="10"></textarea>
    <button class="comment-button" id="add-comment" type="button">Post</button>
</div>

<script src="/javascript/comment.js"></script>
{{/if}}











