* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: solid red 4px; */
  color: #3b3939;
  text-decoration: none;
}

/* Colors */
:root {
  --login-or-signup-text: #830100;
  --login-or-signup-box: #efaf62;
  --black: #3b3939;
  --breakfast-selection: #930013;
  --lunch-selection: #023f72;
  --dinner-selection: #bc8b0a;
  --dessert-selection: #c2454c;
  --your-recipes: #6a1f62;
  --edit-button: #d65500;
  --gray-filling: #f2f2f2;
}

/* Common Fonts */
@font-face {
  font-family: JohnDoe;
  src: url(./JohnDoe.otf);
}
@font-face {
  font-family: JohnDoeBold;
  src: url(./JohnDoeBold.otf);
}

@font-face {
  font-family: LeHarve;
  src: url(./LeHavre.otf);
}

/* Header */

.top-bar {
  display: flex;
  justify-content: space-between;
}

/* Search bar */
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  font-family: LeHavre;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #95aabf;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #f78f20;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
/* End of Search Bar */

/* Post and Login */
/* Login */
.user-corner {
  display: flex;
  justify-content: right;
}
.post-button {
  font-family: LeHarve;
  font-size: 30px;
  margin-bottom: 10px;
}
.icon {
  padding-left: 25px;
}
/* End of Login */
/* Post */
#circle {
  position: absolute;
  margin-left: 4px;
  display: inline-block;
  background-color: var(--black);
  border-radius: 60px;
  height: 20px;
  width: 20px;
  border: 4px solid var(--black);
}
#triangle {
  position: absolute;
  margin-top: 10px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 25px solid var(--black);
}
/* End of Post and Login */

/* Title */
header {
  padding: 15px 45px;
  font-family: JohnDoe;
  background-color: white;
  text-decoration: none;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

header h1 a {
  display: flex;
  justify-content: center;
  font-size: 60px;
  padding-bottom: 20px;
}

/* End of Title */

/* Navigation */

header nav ul {
  /* margin: 7px 0; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 45px;
  font-size: 2vw;
}

header nav ul li a:hover {
  color: var(--lunch-selection);
}

#breakfastSelect a {
  color: var(--breakfast-selection);
}
#lunchSelect a {
  color: var(--lunch-selection);
}

/* Header and Navigation End */

/* Hero Img */
.hero {
  height: 920px;
}

.hero-img {
  height: 500px;
  width: 1360px;
  margin-left: 40px;
  object-fit: cover;
}

/* End of Hero */

/* Body Text */
.body {
  margin-top: -250px;
}

.body p {
  font-family: LeHarve;
  font-size: 45px;
  margin-left: 20px;
  margin-right: 80px;
}
.body div {
  display: flex;
  justify-content: center;
}

.meal p {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.body-title {
  font-size: 55px;
  font-family: JohnDoe;
  margin-left: 20px;
  margin-right: 80px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  color: var(--your-recipes);
}

/* End of Body Text*/

/* Recipe List */
.recipe-border {
  padding: 20px 0px 60px 0px;

  border: solid var(--black) 3px;
}
.user-date {
  position: absolute;
  margin-left: -900px;
}
.user-date h5 {
  font-family: LeHarve;
  font-size: 40px;
  margin-left: -300px;
  padding-top: 40px;
  text-decoration: none;
}

#dateTime {
  margin-top: -40px;
  margin-left: -370px;
  position: absolute;
}

.recipe-title {
  display: block;
  font-family: JohnDoe;
  font-size: 32px;
}

.star-rating {
  position: absolute;
  height: 60px;
  width: 280px;
  margin-top: 50px;
  border: solid red 3px;
}

#editButton {
  background-color: var(--edit-button);
  opacity: 0.7;
  color: var(--your-recipes);
  border: solid 4px var(--your-recipes);
  font-family: LeHarve;
  font-size: 35px;
  width: 100px;
  height: 65px;
  position: absolute;
  margin-right: -1240px;
}

#editButton:hover {
  opacity: 1;
}
/* End of Recipe List */

/* Login banner */
#loginBanner h2 {
  margin-top: 155px;
  height: 250px;
  width: 400px;
  background-color: #a2b4c8;
  opacity: 0.5;
  font-family: JohnDoe;
  font-size: 60px;
  color: var(--login-or-signup-text);
  text-align: center;
}

#loginBanner h2:hover {
  opacity: 1;
}

/* End of Login Banner */

/* New Recipe Form */
.form-heading {
  font-size: 40px;
  font-family: JohnDoe;
}

.form-input {
  background-color: var(--gray-filling);
  border: solid 3px var(--black);
  font-size: 35px;
  font-family: LeHavre;
  text-align: center;
  height: 55px;
  width: 300px;
}

.split {
  display: flex;
  margin: 40px 40px 40px 400px;
}

.right {
  margin: 40px 40px 40px 400px;
}

.ingredients-form {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}

#ingredients {
  margin-top: 20px;
  width: 265px;
  height: 250px;
  text-align: center;
}

#directions {
  width: 750px;
  height: 300px;
  text-align: center;
}

.prep {
  display: flex;
  flex-direction: column;
}

.prep input {
  width: 200px;
}

.info-prep {
  font-size: 25px;
  margin: 20px 20px 20px 0px;
}

.new-recipe-button {
  font-family: JohnDoe;
  font-size: 65px;
  border: solid 5px var(--black);
  opacity: 0.75;
}

.new-recipe-button:hover {
  opacity: 1;
}

.space-between {
  display: flex;
  margin: 40px 0px 40px 113px;
  justify-content: space-evenly;
}
